:root {
  --polished-pine: #61988e;
  --space-cadet: #131834;
  --royal-blue-dark: #022058;
  --timberwolf: #dbd4d3;
  --black-coffee: #3a3238;
  --dark-cyan: #1b2f33;
}

* {
  box-sizing: border-box;
  font-family: "Lora", serif;
}

img {
  max-width: 100%;
}

html {
  height: 100%;
  font-size: 1.2em;
}

body {
  padding: 0;
  margin: 0;
}
